body{
    background-color: #c4dafa;
}


header {
    background-color: #86d4f3;
    color: #fff;
    padding: 20px;
    text-align:center;
}
main{
    padding: 20px;
}
button{
    border-radius: 12px;
    text-decoration: black;
    margin: 1cm;
 }
