header {
    background-color: #033a7e 
}

body {
   background-color:  #84ce7a
}

h1 {
    color: white;
}

h2 {
    color: white

}



.mitadfooter {
    background-color: #212121;
}

.margengente {
    margin-left: 700;
}