header {
    background-color: #539E8C;
    color: #fff;
    padding: 40px;
    text-align:center;
    margin-top: auto;
}
main{
    padding: 20px;
    background-color:#fff;
    color: black;
    margin: 0%;
}
button{
    text-decoration: #fff;
    background-color: #77E4FA;
    text-align: center;
    border-radius: 10px;
    }

    .margengente {
        margin-left: 700;
    }
    
    header {
     
        text-align: center;
     }
    
     main{
        color: white;
        text-align: center;
     }
    a{
        text-decoration: none;
        text-align: right;
    }
    
    form {
        max-width: 400px;
        margin: 0 auto;
        border-radius: 15px !important;
      }
    
      /* Estilo para la lista sin viñetas */
      ul {
        list-style: none;
        padding: 0;
        border-radius: 15px !important;
      }
    
      /* Estilo para cada elemento de la lista */
      li {
        margin-bottom: 10px;
        border-radius: 15px !important;
    
      }
    
      /* Estilo para las etiquetas */
      label {
        display: block;
        margin-bottom: 5px;
        border-radius: 15px !important;
      }
    
      /* Estilo para los campos de entrada */
      input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 15px !important;
      }
    
      /* Estilo para el botón de envío */
      input[type="submit"] {
        background-color: #22658b;
        color: white;
        cursor: pointer;
        border-radius: 15px !important;
      }
    
      input[type="submit"]:hover {
        background-color: #22658b;
        border-radius: 15px !important;
      }
    table{
        margin-left: 11%;
        border: 5px;
        border-color: black;
        border-radius: 5%;
        background-color: black;
    }
    tr{
        border: 5px;
        border-color: black;
        background-color: white;
    }
    footer {
        background-color: gray;
    }
    
    .mitadfooter {
    
        background-color: #212121;
    
    }
    
    .redessociales {
        text-align: left;
        margin-left: 120px;
    }
    
    
    #margengente {
        margin-left: 270px;
        margin-bottom: 15px;
    }
    
    #margenpolitica {
        margin-bottom: 25px;
        margin-left: 320px;
    
    }
    
    .margen4 {
        margin-top: 20px;
        margin-left: 100px;
    }
    
    .margen5 {
        margin-right: 170px;
        margin-left: 100px;
    }
    div {
        text-align: center;
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
