footer {
    background-color: gray;
}

.mitadfooter {

    background-color: #212121;

}

.redessociales {

    margin: 0, 0, 0, 100px;
}


.margenabajo {

    margin: 0, 0, 100px, 0;

}

#margengente {
    margin-left: 700px;
    margin-bottom: 15px;
}

#margenpolitica {
    margin-bottom: 25px;
    margin-left: 20px;

}

.root {
    margin-bottom: 40px (--marbot);
}

.margen4 {
    margin-bottom: 100px;
    margin-left: 10px;
}

.margenpolitica {
margin-bottom: 25px;
margin-left: 20px;

}