header {
    background-color: #84ce7a
}

body {
<<<<<<< Updated upstream
   background-color:  #033a7e 
}

h1 {
    color: white;
}

h2 {
    color: white

}

p {
    color: white
=======
   background-color:  #bce7b6
}

footer {
    background-color: gray;
>>>>>>> Stashed changes
}

