header {
    background-color: #539E8C;
    color: #fff;
    padding: 40px;
    text-align:center;
    margin-top: auto;
}
main{
    padding: 20px;
    background-color:#fff;
    color: black;
    margin: 0%;
}
button{
    text-decoration: #fff;
    background-color: #77E4FA;
    text-align: center;
    border-radius: 10px;
    }
