footer {
    background-color: gray;
}

.mitadfooter {

    background-color: #212121;

}

.margenabajo {

    margin: 0, 0, 100px, 0;

}

.margen4 {

        margin: 60px;
        margin-top: 300;

}

#margengente {
    margin-left: 700px;
}

#margenpolitica {
    position: relative;
    margin-top: -300px;

}